/* File: styles.css
 * Author: Sean M
 * Date: 2023-06-13
 * Description: Styles not included in Bootstrap
 * License: MIT
 * Version: 1.0
 */

/* =================== Fonts =================== */

@font-face {
    font-family: 'Pattanakarn';
    src: url(./assets/Pattanakarn-Regular-SemiExpanded.woff2);
}

@font-face {
    font-family: 'Pattanakarn Bold';
    src: url(./assets/Pattanakarn-Bold-SemiExpanded.woff2);
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

/* =================== Variables =================== */

:root {
    /* --c1: #752cb4;
    --c2: #171f69;
    --c3: #d80140;
    --c4: #55f3fa;
    --c5: #57053e;
    --c6: #200f45;
    --c7: #22595c;
    --c8: #22c0ef;
    --c9: #2f1244; */

    --font-color: #fff;
    --background: #2f1244;
    --primary: #f04e23;
    --primary-h: #f04e23;
    --primary-c: #ffffff; 
    --highlight: #d80140;
    /* --secondary: #f04e23; */
    --bs-font-sans-serif: 'Pattanakarn', sans-serif;
    --font-primary: 'Montserrat', sans-serif;

}

/* =================== Global =================== */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1rem;
    line-height: 1.5;
    color: var(--font-color);
    background-color: var(--background);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

::selection {
    background-color: var(--highlight);
}

/* =================== Register =================== */

.register-text {
    font-size: 2.5rem;
    text-shadow: rgb(240 78 35 / 50%) 2px 2px 0px, rgb(240 78 35 / 30%) 4px 4px 0px;
    text-transform: uppercase;
    font-family: 'Pattanakarn Bold', sans-serif;
    text-align: center;
    padding: 50px 0px;
}

/* =================== Buttons =================== */

.btn {
    font-family: var(--font-primary);
    text-transform: uppercase;
    border-radius: 0;
}

.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--primary-c);
    --bs-btn-hover-color: var(--primary-c);
    --bs-btn-color: var(--primary-c);
    --bs-btn-bg: var(--primary);
    --bs-btn-border-color: var(--primary);
    --bs-btn-hover-color: var(--primary-c);
    --bs-btn-hover-bg: var(--primary-h);
    --bs-btn-hover-border-color: var(--primary-h);
    --bs-btn-focus-shadow-rgb: 34,192,239;
    --bs-btn-active-color: var(--primary-c);
    --bs-btn-active-bg: var(--primary-h);
    --bs-btn-active-border-color: var(--primary-h);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--primary-c);
    --bs-btn-disabled-bg: var(--primary);
    --bs-btn-disabled-border-color: var(--primary);
}

/* =================== MISC =================== */

.hl {
    background: var(--primary);
    margin-bottom: 1rem;
    height: 1px;
    width: 25%;
}

.fw-600 {
    font-weight: 600;
}

a {
    color: var(--primary);
    font-weight: bold;
}

a:hover {
    color: var(--primary-h)
}

.primary {
    color: var(--primary);
}

.bold {
    font-family: 'Pattanakarn Bold', sans-serif;
}

/* Background image at top of the page */
.bg-image {
    background: linear-gradient(transparent, var(--background)), url(https://res.cloudinary.com/dec6mijn3/image/upload/v1686982930/Hackathon/bg.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.5;
}

.home-content {
    z-index: 2;
}

/* For Logo and main text at the top of the page */
#header {
    padding-top: 100px;
    padding-bottom: 25px;
}

#logo {
    max-width: 150px;
}